<h1>Games#score</h1>


<div class="alert alert-info" role="info">
  <h4 class="alert-heading"><%= @result[:header] %></h4>
  <p><%= @result[:message] %></p>
  <hr>
  <p class="mb-0">Your score is <%= @result[:score] %></p>
</div>
